In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.10/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (2.0.30)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (67.7.2)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Downloading jedi-0.19.1-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 5.1 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Installing collected packages: jedi
Successfully installed jedi-0.19.1

In [2]:
# Load the sql extension
%load_ext sql

# Create SQLite database
%sql sqlite://

In [3]:
%%sql
DROP TABLE IF EXISTS energy_dataset;

CREATE TABLE energy_dataset (
    `Relative Compactness` REAL,
    `Surface Area`  REAL,
    `Wall Area` REAL,
    `Roof Area` REAL,
    `Overall Height` REAL,
    `Orientation` REAL,
    `Glazing Area` REAL,
    `Glazing Area Distribution` REAL,
    `Heating Load` REAL,
    `Cooling Load` REAL
);

 * sqlite://
Done.
Done.

[]

In [11]:
%%sql
INSERT INTO energy_dataset (
  `Relative Compactness`,
    `Surface Area`,
    `Wall Area`,
    `Roof Area`,
    `Overall Height`,
    `Orientation`,
    `Glazing Area`,
    `Glazing Area Distribution`,
    `Heating Load`,
    `Cooling Load`
) VALUES(
  0.99, 523.1, 291.4, 110, 7, 2, 0, 0, 15.23, 21.33
)

 * sqlite://
1 rows affected.

[]

In [6]:
%%sql
SELECT * FROM energy_dataset;

 * sqlite://
Done.

[(0.99, 523.1, 291.4, 110.0, 7.0, 2.0, 0.0, 0.0, 15.23, 21.33),
 (0.99, 523.1, 291.4, 110.0, 7.0, 2.0, 0.0, 0.0, 15.23, 21.33)]

In [7]:
%%sql
UPDATE energy_dataset
SET `Surface Area`= 520.1, `Overall Height` = 3.5
WHERE `Relative Compactness` = 0.99;

SELECT * FROM energy_dataset;

 * sqlite://
2 rows affected.
Done.

[(0.99, 520.1, 291.4, 110.0, 3.5, 2.0, 0.0, 0.0, 15.23, 21.33),
 (0.99, 520.1, 291.4, 110.0, 3.5, 2.0, 0.0, 0.0, 15.23, 21.33)]

In [8]:
%%sql
DELETE FROM energy_dataset
WHERE `Relative Compactness` = 0.99;

 * sqlite://
2 rows affected.

[]

In [12]:
# Using SUM function to find the sum of values in a column
%%sql
SELECT SUM(`Surface Area`) AS surface_area_sum
FROM energy_dataset;

 * sqlite://
Done.

[(1046.2,)]

In [13]:
# Count number of rows using COUNT function
%%sql
SELECT COUNT(*) AS total_rows
FROM energy_dataset;

 * sqlite://
Done.

[(2,)]

In [15]:
# Find the average Wall Area
%%sql
SELECT AVG(`Wall Area`) AS avg_wall_area
FROM energy_dataset;

 * sqlite://
Done.

[(291.4,)]

In [14]:
# Find MIN and MAX Cooling Load
%%sql
SELECT MAX(`Cooling Load`) AS max_cooling_load, MIN(`Cooling Load`) AS min_cooling_load
FROM energy_dataset;

 * sqlite://
Done.

[(21.33, 21.33)]